<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Chat</title>
</head>
<body>
    <p>From: <%= chat.from %></p>
    <p>To: <%= chat.to %></p>
    
    <form method="post" action="/chats/<%= chat.id %>?_method=PATCH">
        <!-- Hidden input for method override -->
       
        
        <textarea name="msg" id="msg" cols="30" rows="10"><%= chat.msg %></textarea>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
